JupyterNotebooks/.ipynb_checkpoints/*
Rosters/
Documents/PastSections/
LectureNotes_Spring_2021/
Tests/
JupyterNotebooks/Midterm1_Solutions.ipynb
JupyterNotebooks/Q1.png
JupyterNotebooks/Q2.png
JupyterNotebooks/Q3.png
